# One year for image files
<filesMatch ".(jpg|jpeg|png|gif|ico|webp|svg)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>
# One month for css and js
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>
RewriteEngine On 
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^test.simco.solutions$ [NC]
RewriteRule #^https://api.nuestropresupuesto.mx%{REQUEST_URI} [L,NE,R]
RewriteRule ^([a-z_0-9A-Z/]+)\/?$ uri.php?key=$1 [L,QSA]
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0